{{ partial "header.html" . }}
       
<div class="container">
  <div class="row">
    <div class="col-md-8 col-sm-push-4">
      <h1 class="news-title">{{ .Title }}</h1>
      <div class="date">Published on <span class="date-format">{{ .Date.Format "January 2, 2006" }}</span> by Kevin Guay</div>
      
      <ul id="tags" class="hor-list">
        {{ range .Params.tags }}
          <li>{{ . }}</li>
        {{ end }}
      </ul>
      <div class="addthis_inline_share_toolbox"></div>
          
      {{ .Content }}
          
      {{ partial "disqus.html" . }}
          
    </div>
        
        
    <div class="col-md-4 col-sm-pull-8" style="padding-left:0;">
          
      {{ partial "blog-list.html" . }}
    </div>
  </div>
</div>
     
{{ partial "footer.html" . }}
