<br>
<br>

<div class="row footer">
  <center>
    <img src="/images/photos/kevin-guay.jpg" width="100px" style="border-radius: 50%">
  </center>
</div>

<div class="row follow" style="margin-bottom:10px;">
  <a class="twitter-follow-button" href="https://twitter.com/@KevinCGuay"
  data-size="large" data-show-count="false" target="_blank">Follow @kevincguay</a>
  <a class="github-button" href="https://github.com/kguay" data-size="large" aria-label="Follow @kguay on GitHub">Follow @kguay</a>
</div>

<div class="row footer">
  <div class="col-sm-6 col-sm-offset-3" style="text-align: center; font-size: 16px">
    <p>Kevin Guay is the Director of IT at Bigelow Laboratory for Ocean Sciences. While not at work, Kevin enjoys woodworking and rock climbing.</p>
    
  </div>
</div>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>