<nav class="navbar navbar-default">
  <div class="container">
    <div class="">
      <div class="menu pull-right">
        <a href="/about/">About</a>
        <a href="/about/resume/">Resume</a>
        <!-- <a href="/blog/">blog</a> -->
      </div>
      <div class="title">
        <!-- <img src="/images/graphics/tree.svg" style="height:40px; padding-bottom:12px;"> -->
        <a href="/">
          <span style="font-weight:600;padding-right:3px;">kevin</span>guay
        </a>
      </div>
    </div>
    <hr class="top"/>
  </div>
  <div class="container-fluid">
    
  </div>
</nav>