$link:            #494F5C;
$body-background: white;
$body-color:      #494F5C;
$link-underline:  #7E889E;
$link-underline-hover:  #FFC629;

$link-dark:            #ddd;
$body-background-dark: #494F5C;
$body-color-dark:      #ddd;
$link-underline-hover-dark:  #FFC629;
