// colors
$green:           #6a9d00;
$purple:          #6A019E;
$background-blue:#385e94;

// objects
$title:           $green;

$link:            white;
$body-background: $background-blue;
$body-color:      white;
$body-gray:       #ccc;

