<nav class="navbar navbar-default">
  <div class="container">
    <div class="hidden-xs">
      <div class="menu pull-right">
        <a href="/about/">about</a>
        <a href="/blog/">blogs</a>
      </div>
      <a href="/">
        <div class="title">
          <span style="font-weight:600;padding-right:3px;">kevin</span>guay
        </div>
      </a>
    </div>
    <div class="visible-xs">
      <center style="margin-top:10px;">
        <div class="menu pull-right">
          <a href="/about/" style="margin-right:15px;margin-left:15px;">about</a>
          <a href="/blog/" style="margin-right:15px;margin-left:15px;">blogs</a>
        </div>
        <a href="/" class="pull-left">
          <div class="title"><span style="font-weight:600;padding-right:3px;">kevin</span>guay 
          </div>
        </a>
      </center>
    </div>
  </div>
  <!-- <div class="container-fluid">
    <hr class="top"/>
  </div> -->
</nav>