<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <!--<div style="color:#666;font-size:5em;margin-top:15px;" class="title"><span style="font-weight:600;padding-right:3px;">m</span>p</div>-->
        <div style="color:#666;font-size:2em;margin-top:0px;margin-bottom:auto;" class="title"><span style="font-weight:600;padding-right:3px;">kevin</span>guay</div>
        <!-- <div style="color:#666;font-size:1.1em;margin-top:5px;" class="title">software engineer</div> -->
      </div>
      <div class="col-xs-6 col-sm-8">
        <p>... is the Director of IT at Bigelow Laboratory for Ocean Sciences. While not at work, Kevin enjoys woodworking and rock climbing.</p>
      </div>
      
      <!--
      <div class="col-sm-4 col-md-3">
        <form style="padding:3px;text-align:left;" action="https://tinyletter.com/minimalist-programmer" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/minimalist-programmer', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
          <div class="heading white">Subscribe <span class="hidden-sm">to blog<a href="/feed.xml"><img src="/images/logo/rss-white.svg" style="height:20px; margin-left:10px; margin-bottom:10px;"/></a></span></div>
          <p>
            <input id="tlemail" type="text" style="width:200px; height:30px; font-size:0.8em; color:#407EB4; font-weight:bold;" name="email" class="form-control"/>
          </p>
          <input type="hidden" value="1" name="embed"/>
          <input type="submit" value="Subscribe" style="color:#407EB4; font-size:0.9em; padding:3px 6px; font-weight:bold; margin-left:116px;" class="btn btn-sm btn-secondary btn-blue"/>
        </form><br class="visible-xs"/>
      </div>
      -->
    </div>
  </div>
</footer>
