<nav class="navbar navbar-default">
  <div class="container">
    <div class="">
      <!-- Menu -->
      <div class="menu pull-right">
        <a href="/about/">About</a>
        <a href="/posts/">Blog</a>
        <a href="/resume/">Resume</a>
      </div>

      <!-- <div class="menu pull-right">
          <a href="/resume/">Resume</a>
          <div class="dropdown pull-right">
            <a href="/about/" class="dropdown-toggle">About</a>
            <ul class="dropdown-menu">
              <li><a href="/consulting">Consulting</a></li>
              <li><a href="/about/photography">Photography</a></li>
            </ul>
          </div>
        </div> -->

      <div class="title">
        <a href="/">
          <span style="font-weight:600;padding-right:3px;">kevin</span>guay
        </a>
      </div>
    </div>
    <!-- <hr class="top"/> -->
  </div>
  <div class="container-fluid">
    
  </div>
</nav>